.card-img-overlay h1 {
    position: absolute;
    top: 160px;
    left: 10%;
    font-family: 'Asset';
    font-size: 4.1vw;
}
.card-img-overlay h3 { 
    position: absolute;
    top: 250px;
    left: 25%;
    font-family: 'Alfa Slab One';
    font-size: 2.5vw;

}
.card-img-overlay p {
    position: absolute;
    bottom: 8px;
    left: 1px;
    font-family: 'Are You Serious';
    font-size: xx-large;
}
.container {
    padding-top: 30px;
}
#element {
    text-align: center;
} 
#element p {
    padding-top: 6px;
    padding-bottom: 6px;
} 
#element h5 {
    padding-top: 20px;
    padding-bottom: 15px;
}
#Orders h1 {
    text-align: center;
}
.button {
    text-align: center;
    padding-top: 35px;
}
#Contacts1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 0.5;
    color:deeppink;
}
#Contacts2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    line-height: 0.5;
    color: mediumblue;
}
#response {
    position: absolute;
    text-align:center; 
}
